:root {
  --background-color: #121212;
  --lighter-dark: #1c1c1c;
  --darker-shade: #0d0d0d;
  --primary-color: #007bff;
  --primary-hover: #0056b6;
  --secondary-color: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  background-color: var(--lighter-dark);
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li{
  text-align: center;
  list-style-type: none;
}

.navbar-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar-item {
  flex: 1;
  margin: 5px;
  border-radius: 7px;
  padding: 5px;
  transition: 0.3s;
  height: 3vh;
  min-height: 30px;
  min-width: 100px;
}

.navbar-item:hover {
  background-color: var(--primary-hover);
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
}


.playlist {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--lighter-dark);
  margin: 2vh;
  border-radius: 10px;
  overflow-y: auto;
  height: 57vh;
}

.media {
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.5fr 0.5fr;
  gap: 5px;
  align-items: center;
  background-color: var(--darker-shade);
  color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}


.song-artist, .movie-producers, .media-year, .media-duration {
  border-left: 2px solid var(--lighter-dark);
  padding-left: 10px;
}

.media-title, .song-artist, .movie-producers, .media-year, .media-duration {
  margin: 0;
  text-align: left;
}


.media:hover {
  background-color: var(--primary-color);
  transform: scale(1.02);
}

.media.playing {
  background-color: var(--primary-hover);
  color: #ffffff;
}

/* Player Styles */
.player {
  background-color: var(--darker-shade);
  color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 22vh;
}

.playing-song-title {
  text-align: center;
  padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 10px;
}


.player button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.player button:hover {
  background-color: var(--primary-hover);
}

.progress-bar {
  background-color: var(--secondary-color);
  height: 5px;
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  border-radius: 5px;
}

#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: white;
}

#choices {
  margin-top: 20px;
}

.quiz button {
  display: block;
  width: 100%;
  min-width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.quiz button:hover {
  background-color: var(--primary-hover);
}

#nextButton {
  background-color: var(--primary-color);
}

#nextButton:hover {
  background-color: var(--primary-hover);
}

#score {
  margin-top: 45%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5cb85c;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 600px) {
  .playlist {
    margin: 2vh;
    height: 63vh;
  }

  .player {
    height: 20%;
  }

  .controls button {
    width: 35px;
    height: 35px;
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  header p{
    display: none;
  }
}
